# files in src folder
.DS_Store
*.class
*.tokens
XPathBaseListener.java
XPathBaseVisitor.java
XPathLexer.java
XPathListener.java
XPathParser.java
XPathVisitor.java

# folder
.idea/

# scripts
clear
setup
