# files
src/.DS_Store
lib/.DS_Store
.DS_Store
XProcessor.iml
*.class
*.tokens
XPathBaseListener.java
XPathBaseVisitor.java
XPathLexer.java
XPathListener.java
XPathParser.java
XPathVisitor.java

XQueryBaseListener.java
XQueryBaseVisitor.java
XQueryLexer.java
XQueryListener.java
XQueryParser.java
XQueryVisitor.java

# folder
.idea/
out/

# scripts
setup
reset
