# files
src/.DS_Store
lib/.DS_Store
.DS_Store
XProcessor.iml
*.class
*.tokens
XPathBaseListener.java
XPathBaseVisitor.java
XPathLexer.java
XPathListener.java
XPathParser.java
XPathVisitor.java

# folder
.idea/

# scripts
clear
setup
